.login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login a {
    width: 55%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.login button {
    width: 45%;
    border: none;
    margin-top: 5%;
    height: 4vh;
    background-color: lightblue;
    outline: none;
    font-weight: bold;
    transition: .3s ease-in-out;
    margin-bottom: 3%;
}

.login button:hover {
    background-color: rgb(124, 222, 255);
    scale: 1.1;
    transition: .3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}