.container {
    display: flex;
}

.image {
	width: 50%;
    height: 100vh;
}

.image img {
	width: 100%;
    height: 100%;
}

.container_login {
    background-color: lightblue;
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

