@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.login input {
    background-color: white;
    color: #ffffff;
    width: 90%;
    padding: 0 1%;
    color: black;
    border: 1px solid white;
    height: 5vh;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    outline: none;
}
